WALLET=
RPC=
RPC_BACKUP=
USDC=
CTF=

TRANSFER_ERC20=
TRANSFER_SINGLE1155=
TRANSFER_BATCH1155=

ITERATIONS=150000
MAX_RETRIES=12
DELAY_RETRIES=2

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=

START_BLOCK=80800000

RPC_TIMEOUT_SECONDS = 90